---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
---

<Layout title="DBA">
  <div class="flex flex-col items-center text-center p-8">
    <h1 class="text-3xl font-bold mb-6">DBA</h1>

    <div class="flex flex-col items-center">
      <p class="my-1">Advanced Roofing, Inc.</p>
      <p class="my-1">American Remodeling</p>
      <p class="my-1">Anderson Windows</p>
      <p class="my-1">Baker Roofing Company</p>
      <p class="my-1">Best Choice Roofing</p>
      <p class="my-1">Bone Dry Roofing</p>
      <p class="my-1">C Michael Exteriors</p>
      <p class="my-1">Centimark Corporation</p>
      <p class="my-1">Champion Windows and Home Exteriors</p>
      <p class="my-1">Continental Siding</p>
      <p class="my-1">Corey Construction</p>
      <p class="my-1">Crown Roofing & Waterproofing</p>
      <p class="my-1">Crowther Roofing and Cooling</p>
      <p class="my-1">DeBella</p>
      <p class="my-1">Erie Home</p>
      <p class="my-1">GreenWatt Consulting LLC</p>
      <p class="my-1">Greenwood Industries, Inc.</p>
      <p class="my-1">Home Genius Exteriors</p>
      <p class="my-1">Infinity Home Services</p>
      <p class="my-1">Jolly Roofing & Contracting Company, Inc.</p>
      <p class="my-1">Kalkreuth Roofing and Sheet Metal</p>
      <p class="my-1">Legacy Restoration</p>
      <p class="my-1">Nations Roof</p>
      <p class="my-1">New Pro Home Remodeling</p>
      <p class="my-1">O'Hara's Son Roofing Company</p>
      <p class="my-1">RestoreMasters</p>
      <p class="my-1">Roofing Corp of America</p>
      <p class="my-1">Stronghouse Solutions</p>
      <p class="my-1">Tecta America</p>
      <p class="my-1">Victory Home Remodeling</p>
    </div>
  </div>
</Layout>
