<div>
  <form novalidate>
    <input type="hidden" name="xxTrustedFormCertUrl" />
    <input type="hidden" name="xxTrustedFormPingUrl" />
  </form>
</div>

<script>
  import { estimateProgressStore } from "@stores/estimateProgress";

  // starts a loop with interval of 500ms
  var interval = setInterval(getCertUrl, 500);
  async function getCertUrl() {
    const certUrl =
      document.getElementsByName("xxTrustedFormCertUrl")[0] &&
      (
        document.getElementsByName(
          "xxTrustedFormCertUrl"
        )[0] as HTMLInputElement
      ).value;
    const pingUrl =
      document.getElementsByName("xxTrustedFormPingUrl")[0] &&
      (
        document.getElementsByName(
          "xxTrustedFormPingUrl"
        )[0] as HTMLInputElement
      ).value;
    console.log("certUrl", certUrl);
    console.log("pingUrl", pingUrl);
    // check if the certificate has been generated
    if (certUrl && pingUrl) {
      // Update the store with the new values directly
      const existingStore = estimateProgressStore.get();

      estimateProgressStore.set({
        ...existingStore,
        trusted_form_cert_url: certUrl,
        trusted_form_ping_url: pingUrl,
      });

      // stops the loop
      clearInterval(interval);
    }
  }

  (function () {
    var tf = document.createElement("script");
    tf.type = "text/javascript";
    tf.async = true;
    tf.src =
      ("https:" == document.location.protocol ? "https" : "http") +
      "://api.trustedform.com/trustedform.js?field=xxTrustedFormCertUrl&ping_field=xxTrustedFormPingUrl&l=" +
      new Date().getTime() +
      Math.random();
    document.body.appendChild(tf);
  })();
</script>
<noscript>
  <img src="https://api.trustedform.com/ns.gif" alt="" />
</noscript>
