---
---
<div class="w-full h-[60px] p-4 bg-white border-t border-gray-200 justify-center items-center gap-8 inline-flex overflow-hidden">
    <a href="/privacy-policy" class="w-40 text-center text-gray-500 text-sm font-medium font-['Inter'] leading-7 hover:text-gray-700">Privacy Policy</a>
    <a href="/do-not-sell" class="w-40 text-center text-gray-500 text-sm font-medium font-['Inter'] leading-7 hover:text-gray-700">Do Not Sell My Info</a>
    <a href="/ca-privacy-policy" class="w-40 text-center text-gray-500 text-sm font-medium font-['Inter'] leading-7 hover:text-gray-700">CA Privacy Policy</a>
</div>