---
import Layout from "./Layout.astro";
import { shortTradeEnum } from "@assets/info/estimateOptions";

interface Props {
	title: string;
	estimateType: string;
}

let { title, estimateType } = Astro.props;

const parseEstimateType = shortTradeEnum.safeParse(estimateType);

if (parseEstimateType.success) {
	estimateType = parseEstimateType.data;
} else {
	return Astro.redirect("/");
}
---

<Layout title={title}>
	<div class="items-center container w-full h-full">
		<slot />
	</div>
</Layout>
