---
import NavMain from "@components/nav/NavMain.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;

const titleFormatted = () => {
	if (title) {
		return `estimates - ${title}`;
	}

	return "contracting estimates";
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{titleFormatted()}</title>
	</head>
	<body class="text-white bg-slate-950 min-h-dvh">
		<NavMain />
		<main class="flex flex-col grow h-full items-center">
			<slot />
		</main>
	</body>
</html>
