---
//import { z } from "zod";
import Layout from "@layouts/Layout.astro";
import { estimateStore } from "@stores/estimateProgress";

const { estimateType } = Astro.params;

if (!estimateType) {
	return Astro.redirect("/");
}
const existingStore = estimateStore.get();

if (!existingStore.zipCode.length) {
	return Astro.redirect(`/estimate/${estimateType}/zip`);
}

let zipCode: string | number = existingStore.zipCode;

if (Astro.request.method === "POST") {
}
---

<Layout title={estimateType}>
	<div
		class="flex flex-col gap-4 text-center border rounded-lg p-8 container"
	>
		<h2 class="text-xl font-black">
			do you want to replace or repair an existing {
				estimateType
			}?
		</h2>
		<form
			class="flex flex-col items-center text-center gap-4 my-4"
			method="post"
		>
			<div class="flex gap-2">
				<label
					><input
						type="radio"
						name="action"
						value="replace"
					/>
					replace</label
				>
				<label
					><input
						type="radio"
						name="action"
						value="repair"
					/>
					repair</label
				>
			</div>

			<div class="flex gap-4 items-center">
				<a
					href={`/estimate/${estimateType}/zip`}
					class="rounded-lg px-6 py-2 border disabled:opacity-20"
				>
					prev
				</a>
				<button
					type="submit"
					id="actionSubmitButton"
					class="rounded-lg px-6 py-2 border disabled:opacity-20"
					disabled
				>
					next
				</button>
			</div>
		</form>
	</div>
</Layout>

<script>
	const radioButtons = document.querySelectorAll(
		'input[name="action"]',
	) as NodeListOf<HTMLInputElement>;
	const submitButton = document.getElementById(
		"actionSubmitButton",
	) as HTMLButtonElement | null;

	if (radioButtons && submitButton) {
		radioButtons.forEach((radioButton) => {
			radioButton.addEventListener("change", () => {
				const selectedValue = document.querySelector(
					'input[name="action"]:checked',
				) as HTMLInputElement | null;

				if (selectedValue) {
					submitButton.removeAttribute(
						"disabled",
					);
				} else {
					submitButton.setAttribute(
						"disabled",
						"",
					);
				}
			});
		});
	}
</script>
