---
import EstimateWrapper from "@layouts/EstimateWrapper.astro";
import Layout from "@layouts/Layout.astro";
import { estimateParser, estimateStore } from "@stores/estimateProgress";

const { estimateType } = Astro.params;

if (!estimateType) {
	return Astro.redirect("/");
}
const existingStore = estimateStore.get();

const cfInfo = Astro.locals.runtime.cf;

//console.log({ cfInfo });

let { firstName, lastName } = existingStore;

const contactParser = estimateParser.pick({
	firstName: true,
	lastName: true,
});

const existingContactParsed = contactParser.safeParse({
	firstName,
	lastName,
});

if (Astro.request.method === "POST") {
	const formData = await Astro.request.formData();
	const firstName = formData.get("firstNameInput");
	const lastName = formData.get("lastNameInput");

	const contactParsed = contactParser.safeParse({
		firstName,
		lastName,
	});

	if (contactParsed.success) {
		estimateStore.set({
			...existingStore,
			...contactParsed.data,
		});
		return Astro.redirect(`/estimate/${estimateType}/address`);
	}
}
---

<EstimateWrapper title={estimateType} estimateType={estimateType}>
	<div
		class="flex flex-col gap-4 text-center border rounded-lg p-8 container"
	>
		<h2 class="text-xl font-black">Please enter your full name</h2>
		<form
			class="flex flex-col items-center text-center gap-4 my-4"
			method="post"
		>
			<input
				type="text"
				required
				class="bg-transparent rounded-lg border py-2 px-4 text-center max-w-2/3"
				placeholder="first name"
				id="firstNameInput"
				name="firstNameInput"
				value={firstName?.length ? firstName : null}
				minlength="2"
			/>
			<input
				type="text"
				required
				class="bg-transparent rounded-lg border py-2 px-4 text-center max-w-2/3"
				placeholder="last name"
				id="lastNameInput"
				name="lastNameInput"
				value={lastName?.length ? lastName : null}
				minlength="2"
			/>
			<div class="flex gap-4 items-center">
				<a
					href={`/estimate/${estimateType}/zip`}
					class="rounded-lg px-6 py-2 border disabled:opacity-20"
				>
					prev
				</a>

				<button
					type="submit"
					id="zipSubmitButton"
					class="rounded-lg px-6 py-2 border disabled:opacity-20"
					disabled={!existingContactParsed.success}
				>
					next
				</button>
			</div>
		</form>
	</div>
</EstimateWrapper>

<script>
	import { z } from "zod";

	const firstNameEl = document.getElementById(
		"firstNameInput",
	) as HTMLInputElement | null;

	const lastNameEl = document.getElementById(
		"lastNameInput",
	) as HTMLInputElement | null;

	const zipSubmitButton = document.getElementById(
		"zipSubmitButton",
	) as HTMLButtonElement | null;
	const targetParser = z.string().min(3);

	if (firstNameEl && lastNameEl && zipSubmitButton) {
		lastNameEl.addEventListener("input", (event) => {
			const target = event.target as HTMLInputElement;
			const targetParse = targetParser.safeParse(
				target.value,
			);
			console.log(targetParse);

			if (targetParse.success) {
				zipSubmitButton.removeAttribute("disabled");
			} else {
				zipSubmitButton.hasAttribute("disabled")
					? null
					: zipSubmitButton.setAttribute(
							"disabled",
							"",
						);
			}
		});
	}
</script>
