---

---

<header class="flex items-center p-4 sticky top-0">
	<a href="/" class="text-xl font-bold uppercase"> home </a>
	<div class="flex gap-4 ml-auto items-center">
		<a href="/"> home </a>
		<a href="/"> home </a>
	</div>
</header>
